<footer>
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="">Manoj</a><br>
        <!-- Distributed By: <a href="https://themewagon.com/">ThemeWagon</a> -->
      </p>
    </div>
  </footer>