<% layout("layouts/boilerplate") %>

<div class="row">
    <h1 class="col-6 offset-3">Login</h1>
    <div class="col-6 offset-3">
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="md-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" type="text" class="form-control" required />
                <div class="invalid-feedback">Please enter Username</div>
            </div>
           
            <div class="md-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" type="password" class="form-control" required />
            </div>
            <br>
            <!-- Button container to align side-by-side -->
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success">Login</button>
                
            </div>
        </form>

        <!-- Not a user? Sign up here link -->
        <div class="mt-3">
            <p>Are you New? <a href="/signup" class="text-success">Sign up here</a></p>
        </div>
    </div>
</div>
